@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1e3a8a;
  --color-secondary: #10B981;
}

.kaushan-script {
  font-family: "Kaushan Script", cursive; 
}


/* print area style for resume */

@media print {
  body * {
    visibility: hidden !important;
  }

  #print-section,
  #print-section * {
    visibility: visible !important;
  }

  #print-section {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;

    /* A4 size */
    width: 210mm !important;
    min-height: 297mm !important;
    padding: 10mm !important;

    background: white !important;
    box-shadow: none !important;
    border: none !important;
  }

 
  @page {
    size: A4 portrait;
    margin: 0;
  }
 
  .shadow,
  .shadow-md,
  .shadow-lg {
    box-shadow: none !important;
  }
}